/* Banner.css | DLM: 1/11/2022 | No License.
   Code extracted from: https://www.figma.com/file/wKV4IxZlOoIXKtQOHwL0r9/ResMenu
   MD guidelines for components in: https://m3.material.io/components.

   ί Dictionary:
   {1} = Default;
   {2} = Variants;
   {3} = States;
   {4} = Sub States/Variants.

┌────────────────────────────────────────────────────────────────────────┐
│	{1} Default															 │
└────────────────────────────────────────────────────────────────────────┘
	Notes goes here. */

	/* Code goes here. */
	/* banner */


/* Auto layout */
	.Banner {
		display: flex;
		align-items: center;
		padding: 8px 16px;
		gap: 8px;
		width: 100%;
		height: fit-content;
		background: #49454F;
		border-radius: 4px;

		/* Inside auto layout */

		flex: none;
		align-self: stretch;

	}

	.Banner span {
		color: #F59DB7;
	}

	.Banner_social-media {
		/* Auto layout */

		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 0px;
		gap: 2px;
		width: fit-content;
		height: fit-content;

		/* Inside auto layout */
		flex: none;
		flex-grow: 1;
	}

	






/*
┌────────────────────────────────────────────────────────────────────────┐
│	{2} Variants														 │
└────────────────────────────────────────────────────────────────────────┘
	Notes goes here. */

	/*─────────── Variant: var_name (abreviation) ───────────*/
	/* Notes goes here. */
		/* Code goes here. */


	/* New variants goes up here. */

	
/*
┌────────────────────────────────────────────────────────────────────────┐
│	{3} States															 │
└────────────────────────────────────────────────────────────────────────┘
	Notes goes here. */

	/*─────────── Status: Disabled (dis) ───────────*/
	/* Notes goes here. */
		/* Code goes here. */
	
	/*─────────── Status: On-Hover (hvr) ───────────*/
	/* Notes goes here. */
		/* Code goes here. */

	/*─────────── Status: After-Click (afc) ───────────*/
	/* Notes goes here. */
		/* Code goes here. */


/*
┌────────────────────────────────────────────────────────────────────────┐
│	{4} Sub States/Variants											     │
└────────────────────────────────────────────────────────────────────────┘
	Notes goes here. */

	/*─────────── Status: sts_name (abreviation) ───────────*/
	/* Mandatory aclaration here. */
		/* Code goes here. */

	/*─────────── Variant: var_name (abreviation) ───────────*/
	/* Mandatory aclaration here. */
		/* Code goes here. */



/* New section goes up here. */
/* End of the document. */