/* Icon-BtN.css | DLM: 15/10/2022 | No License.
   Code extracted from: https://www.figma.com/file/wKV4IxZlOoIXKtQOHwL0r9/ResMenu
   MD guidelines for components in: https://m3.material.io/components.

   ί Dictionary:
   {1} = Default;
   {2} = Variants;
   {3} = States;
   {4} = Sub States/Variants.

┌────────────────────────────────────────────────────────────────────────┐
│	{1} Default															 │
└────────────────────────────────────────────────────────────────────────┘
	Notes goes here. */

	.Icon-BtN {
		/* Auto layout */
		display: flex;
		padding: 6px;

		width: fit-content;
		height: fit-content;
	
		/* M3/ref/tertiary/tertiary80 */
		background-color: var(--md-sys-color-tertiary);
		border-radius: 100px;
	
		/* Inside auto layout */
		flex: none;
	}
	
	.Icon-BtN span {
		color: var(--md-sys-color-on-surface);
	}


/*
┌────────────────────────────────────────────────────────────────────────┐
│	{2} Variants														 │
└────────────────────────────────────────────────────────────────────────┘
	Notes goes here. */

	/*─────────── Variant: var_name (abreviation) ───────────*/
	/* Notes goes here. */
		/* Code goes here. */

	/* New variants goes up here. */

/*
┌────────────────────────────────────────────────────────────────────────┐
│	{3} States															 │
└────────────────────────────────────────────────────────────────────────┘
	Notes goes here. */

	/*─────────── Status: Active ───────────*/
	.Icon-BtN.active span {
		color: var(--md-sys-color-on-tertiary);
	}


/*
┌────────────────────────────────────────────────────────────────────────┐
│	{4} Sub States/Variants											     │
└────────────────────────────────────────────────────────────────────────┘
	Notes goes here. */

	/*─────────── Status: sts_name (abreviation) ───────────*/
	/* Mandatory aclaration here. */
		/* Code goes here. */

	/*─────────── Variant: var_name (abreviation) ───────────*/
	/* Mandatory aclaration here. */
		/* Code goes here. */



/* New section goes up here. */
/* End of the document. */