/* Basic-Filter.css | DLM: 16/10/2022 | No License.
   Code extracted from: https://www.figma.com/file/wKV4IxZlOoIXKtQOHwL0r9/ResMenu
   MD guidelines for components in: https://m3.material.io/components.

   ί Dictionary:
   {1} = Default;
   {2} = Variants;
   {3} = States;
   {4} = Sub States/Variants.

┌────────────────────────────────────────────────────────────────────────┐
│	{1} Default															 │
└────────────────────────────────────────────────────────────────────────┘
	Notes goes here. */

	.filter {
		display: flex;
		flex-direction: column;

		width: 100%; 
		height: fit-content;
	
		/* M3/read-only/dark/surface1 */
		background: linear-gradient(0deg, rgba(208, 188, 255, 0.05), rgba(208, 188, 255, 0.05)), var(--md-sys-color-surface);
		border-radius: 4px 4px 0px 0px;
	
		/* Inside auto layout */
		flex: none;

		/* background-color: red; */
	}
	
	.filter_button {
		/* Auto layout */
		display: flex;
		align-items: center;
		padding: 2px 12px;
		gap: 12px;
	
		width: 100%;
		min-height: 48px;
	
		/* Inside auto layout */
		flex: none;
	}
	
	.filter_button_text-area {
		/* Auto layout */
		display: flex;
		flex-direction: column;
		justify-content: center;
		
		width: fit-content;
		height: fit-content;
	
		/* Inside auto layout */
		flex: none;
		flex-shrink: 1;
		flex-grow: 1;
	}
	
	.filter_button_text-area p.medium-label {
		display: none
	}
	
	.filter_content {
		/* Auto layout */
		display: none;
		flex-direction: column;
	
		width: 100%;
		height: fit-content;
	
		/* M3/read-only/dark/surface1 */
		background: linear-gradient(0deg, rgba(208, 188, 255, 0.05), rgba(208, 188, 255, 0.05)), var(--md-sys-color-surface);
	
		/* Inside auto layout */
		flex: none;			
	}
	
	.filter_content_text-field {
		/* Auto layout */
		display: flex;
		align-items: center;
		padding: 4px 16px;
		gap: 10px;
		
		width: 100%;
		height: fit-content;
		
		/* Inside auto layout */
		flex: none;			
	}


/*
┌────────────────────────────────────────────────────────────────────────┐
│	{2} Variants														 │
└────────────────────────────────────────────────────────────────────────┘
	Notes goes here. */

	/*─────────── Variant: var_name (abreviation) ───────────*/
	/* Notes goes here. */
		/* Code goes here. */

	/* New variants goes up here. */

/*
┌────────────────────────────────────────────────────────────────────────┐
│	{3} States															 │
└────────────────────────────────────────────────────────────────────────┘
	Notes goes here. */

	/*─────────── Status: Disabled ───────────*/
		.filter.disabled .filter_button p {
			color: var(--md-sys-color-outline);
		}

	/*─────────── Status: Open ───────────*/
		.filter.open .filter_button {
			/* M3/read-only/dark/surface2 */
			background: linear-gradient(0deg, rgba(208, 188, 255, 0.08), rgba(208, 188, 255, 0.08)), var(--md-sys-color-surface);
			
			/* M3/sys/dark/outline */
			border-bottom: 2px solid var(--md-sys-color-primary);
		}

		.filter.open .filter_button span.rotary {
			color: var(--md-sys-color-on-surface-variant);
			transform: rotate(180deg);
			transition-duration: 500ms;
		}

		.filter.open .filter_button .filter_button_text-area p.medium-label {
			display: initial;
			color: var(--md-sys-color-primary)
		}

		.filter.open .filter_content {
			display: flex;
		}

	/*─────────── Status: On-Hover ───────────*/
		.filter.hvr .filter_button {
			/* M3/read-only/dark/surface3 */
			background: linear-gradient(0deg, rgba(208, 188, 255, 0.11), rgba(208, 188, 255, 0.11)), var(--md-sys-color-surface);
		}

		.filter.hvr .filter_button span.rotary, .filter.hvr .filter_button p {
			color: var(--md-sys-color-primary);
		}


/*
┌────────────────────────────────────────────────────────────────────────┐
│	{4} Sub States/Variants											     │
└────────────────────────────────────────────────────────────────────────┘
	Notes goes here. */

	/*─────────── Status: active (ac) ───────────*/
	/* Active status for a filter-content field.*/
	.filter_content_text-field.active {
		/* M3/read-only/dark/surface3 */
		background: linear-gradient(0deg, rgba(208, 188, 255, 0.11), rgba(208, 188, 255, 0.11)), var(--md-sys-color-surface);
	}

/* New section goes up here. */
/* End of the document. */