/* index.css | DLM: 15/8/2022 | No License
   Code extracted from: https://www.figma.com/file/wKV4IxZlOoIXKtQOHwL0r9/ResMenu?node-id=51196%3A4675
   This file includes a specific sub-page Structure and Overlays */

/* 
┌────────────────────────────────────────────────────────────────────────────────────────────────┐
│                                        ί CSS Dictionary                                        │
└────────────────────────────────────────────────────────────────────────────────────────────────┘
	[0] = Readme: https://docs.google.com/document/d/1klGHasUyw5qGmO96J0mGbTqSqYJ1BW1GTXY6QOHp4hA/edit?usp=sharing
	      ↑ Es muy importante leer ese documento antes de adentrarse a programar.

	[1] = Structure
	[2] = Overlays

	[9] = Others
	[10] = Experimental
*/  


/*
┌────────────────────────────────────────────────────────────────────────────────────────────────┐
│                                         [1] Structure                                          │
└────────────────────────────────────────────────────────────────────────────────────────────────┘
*/

	.filters-section {
		/* background-color: beige !important; */
		/* Auto layout */
		display: flex;
		flex-direction: row;
		gap: 16px;

		width: 100%;
		height: fit-content;

		/* Inside auto layout */
		flex: none;
		order: 0;
		align-self: stretch;
		flex-grow: 0;
	}

	.products-list {
		/* background-color: red !important; */
		/* Auto layout of frame "List" */
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;

		width: 100%;
		height: fit-content;

		/* Inside auto layout */
		flex: none;
		order: 1;
		align-self: stretch;
		flex-grow: 0;
	}


/*
┌────────────────────────────────────────────────────────────────────────────────────────────────┐
│                                          [2] Overlays                                          │
└────────────────────────────────────────────────────────────────────────────────────────────────┘
*/

	/* No content at the moment */


/*
┌────────────────────────────────────────────────────────────────────────────────────────────────┐
│                                           [9] Others                                           │
└────────────────────────────────────────────────────────────────────────────────────────────────┘
Nonclassifiable CSS CSS */

	/* No content at the moment. */


/*
┌────────────────────────────────────────────────────────────────────────────────────────────────┐
│                                       [10] Experimental                                        │
└────────────────────────────────────────────────────────────────────────────────────────────────┘
Testing Code */

	/* No content at the moment. */


/* End of the Document */