<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="schönthal,librería,impresiones,fotocopias">
        <meta name="description" content="Sitio Web de la Librería Schönthal">
        <meta name="author" content="Matias Font, Maximiliano Fittipaldi, Fernando Hsiao y Ezequiel Milich">
        <meta name="robots" content="index">
        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/normalize.css')}}"> <!-- Resets CSS Styles-->
        <!--Font-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <!--Icon Pack-->
        <script src="https://kit.fontawesome.com/8cc7a6ab0f.js" crossorigin="anonymous"></script>
        <link rel="icon" href="{{url_for('static',filename='Media/Icon.png')}}">
        {% block head %}{% endblock %}
    </head>
    <body class="material dark">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <p class="flash">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
        {% block nav %}
        {% if  request.endpoint == "profile.profile" or request.endpoint == "menu.menu"%}
        <header>
                <nav class="down-nav" id="down-nav">
                        <div class="down-nav_item">
                                <span class="material-icons-round"><i class="fa-solid fa-user"></i></span>
                                <p class="large-label">
                                        <a href="/profile">Perfil</a>
                                </p>
                        </div>
                        <div class="down-nav_item "> <!-- Remove "active" class to hide special box -->
                                <span class="material-icons-round">restaurant_menu</span>
                                <p class="large-label">
                                        <a href="/menu">Menú </a>
                                </p>
                        </div>
                        <div class="down-nav_item">
                                <span class="material-icons-round"><i class="fa-solid fa-right-from-bracket"></i></span>
                                <p class="large-label">
                                        <a href="/logout">Salir</a>
                                </p>
                        </div>
                </nav>
        </header>
        {% endif %}
        {% endblock %}

        <script src="{{url_for('static',filename='JS/index.js')}}"></script>
    </body>
</html>
