{% extends 'base.html'%}
{% block head %}
  <title>Ordenar</title>
{% endblock %}
{% block body %}
  <div class="products-container">
    <h1>Listado de productos</h1>
    {% for producto in productos %}
    <div class="product" name="{{producto.id}}">
      <h5>{{producto.nombre}}</h5>
      <p>{{producto.descripcion}}</p>
      <p>{{producto.precio}}</p>
      <button class="addToCart" id="btn" name="{{producto.id}}">Añadir al carro</button>
    </div>
    {% endfor %}
  </div>
  <h3>Productos en el carro</h3>
    <div class="products-in-cart">
    </div>
    <button type="submit">Comprar productos</button>

  <script src="{{url_for("static",filename="JS/cart.js")}}"></script>
{% endblock %}
