{% extends 'base.html' %}
{% block head %}
       <title>Pedido</title>
       <!-- Metas -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/index.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/lib.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/pedido.css')}}">
{% endblock %}
{% block body %}
      <article>
        {% for row in query %}
           <div class="list-item">
             <div class="hor-card">
               <div class="hor-card_content">
                 <div class="hor-card_content_text">
                   <p class="medium-title">ID: {{row.id}}</p>
                   <p class="medium-body">Estado: {{row.ctEstado}}</p>
                   <p class="medium-body">Mesa: {{row.nro_mesa}}</p>
                    <p class="medium-body">Fecha: {{row.fecha}}</p>
                   <p class="medium-body">Cliente: {{row.usuario_id}}</p> 
                 </div>
               </div>
               <div class="hor-card_media"></div>
             </div>
             <div class="big-icon-button">
               <span class="material-icons-round"><a href="/orders">close</a> </span> 
             </div>
           </div>

           {% for producto in query %}
               {% if producto.id == row.id %}
               <p>{{producto.nombre}}</p>
               {% endif %}
           {% endfor %}
        {% endfor %}
       
       </article>
{% endblock %}
