{% extends 'base.html' %}
{% block head %}
       <title>Pedido</title>
       <!-- Metas -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/index.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/lib.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/pedido.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/elaboracion.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <!-- Icon pack from Google Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block body %}
      <article>
        {% for ct in cTrans %}
      </div>
      <div class="list-dropdown open">
        <div class="list-dropdown_button">
          <span class="material-icons-round">list_alt</span>
          <p class="list-dropdown_button_text-area large-body"> Pedido: Nº{{ct.id}} || Fecha: {{ct.fecha}} || 
              Estado: {{ct.estado}}
            <form action="/orders/update/{{ct.id}}" method="post">
              <select name="estado">
                {% if session["rol"] == "chef" or session["rol"] == "admin" %}
                  {% if ct.estado == "en_proceso"%}
                <option>completado</option>
                  {% endif %}
                {% elif session["rol"] == "cajero" or session["rol"] == "admin" %}
                  {% if ct.estado == "pendiente"%}
                <option>en_proceso</option>
                <option>cancelado</option>
                  {% endif %}
                {% endif %}
              </select>
                <button type="submit">Confirmar</button>
            </form> 
          </p>
          <span class="material-icons-round rotary">expand_more</span>
        </div>
        
        <div class="list-dropdown_content">
          {% for dt in dTrans %}
          {% if dt.cabecera_id == ct.id %}
          <div class="list-dropdown_content_item">
            <p class="medium-body grow">Producto: {{dt.nombre}}</p>
            <p class="medium-body grow">Desc: {{dt.descripcion}}</p>
          </div> 
          {% endif %}
          {% endfor %}
        </div>
        {% endfor %}    
       </article>
  <header>
      <nav class="down-nav back" id="down-nav">
        <div class="down-nav_item">
          <span class="material-icons-round">arrow_back_ios_new</span>
          <p class="large-label">
            <a href="/manage">Volver</a>
          </p>
        </div>
      </nav>
    </header>
{% endblock %}
