{% extends 'base.html' %}
 {%block head%}
 <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/bootstrap.css')}}">
 <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/profile.css')}}">
 <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/lib.css')}}">
 {%endblock%}
 {% block body %}
<article>
 <h1>Bienvenido</h1>
 {% if  session.state == "pendiente" %}
 <p>Por favor, verifica tu cuenta.</p>
 <p>¿No has recibido ningún email? <a href="/resend"> Volver a enviar</a></p>
 {% else %}

 <p>ID: {{session.id}}</p>
 <p>Nombre: {{session.name}}</p>
 <p>Apellido: {{session.surname}}</p>
 <p>Email: {{session.email}}</p>
 <p>order?: {{session["order?"]}}</p>
 <div class="profile-input"> <h1>Modificar el usuario</h1> 

 </div>
 <form action="/profile/update" class="profile" method="POST">
     <input class="profile-input" name="nombre" placeholder="Nombre"></input>
     <input class="profile-input" name="apellido" placeholder="Apellido"></input>
     <input class="profile-input" name="password" placeholder="contraseña"></input>
     <button type="submit" class="btn btn-primary">Confirmar</button>
 </form> 

</article>
 {% endif %}
 <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='JS/bootstrap.js')}}">
 {% endblock %}
