{% extends 'base.html' %}
 {% block body %}
 <h1>Bienvenido</h1>
 {% if  state == "pendiente" %}
 <p>Por favor, verifica tu cuenta.</p>
 <p>¿No has recibido ningún email? <a href="/resend"> Volver a enviar</a></p>
 {% endif %}
 <p>ID: {{session.id}}</p>
 <p>Nombre: {{session.name}}</p>
 <p>Apellido: {{session.surname}}</p>
 <p>Email: {{session.email}}</p>
 <h1>modificar el usuario</h1>
 <form action="/profile/update" method="POST">
     <input type="text" name="nombre" placeholder="nombre" >
     <input type="text" name="apellido" placeholder="apellido" >
     <input type="password" name="password" placeholder="contraseña" >
     <input type="email" name="email" placeholder="gmail" >
     <button type="submit">Confirmar</button>
 </form> 

 {% endblock %}

