{% extends 'base.html' %}
    {% block head %}
    <title>Registro</title>
    {% endblock %}

  {% block body %}
    <header>
      <nav>
        <a href="/login" class="extra-large-txt "><i class="fa-solid fa-arrow-right-to-bracket"></i> Acceso</a>
        <a href="/signup" class="extra-large-txt active"><i class="fa-solid fa-address-card"></i> Registro</a>
        <a href="#a" class="extra-large-txt theme"><i class="fa-solid fa-circle-half-stroke"></i></a>
      </nav>
    </header>
    <article>
      <div class="register">
        <p class="extra-large-txt" style="line-height: 15px;">Bienvenido</h1> <!-- Quick Fix-->
        <p class="medium-txt">RESMenu, la mejor experiencia.</p>
        <form action="/login" method="POST">
          <p class="extra-large-txt" style="text-align: center;">Ingresar</p> <!-- Quick Fix-->
          <p class="large-txt">Mail:</p>
          <input type="email" name="mail" class="text-input selectable">
          <p class="large-txt">Nombre:</p>
          <input type="text" name="nombre" class="text-input selectable">
          <p class="large-txt">Apellido:</p>
          <input type="text" name="apellido" class="text-input selectable">
          <p class="large-txt">Contraseña:</p>
          <input type="password" name="pwd" class="text-input selectable"></input>
          <div>
            <input type="checkbox" id="TyC" value="HTML" class="regular-checkbox">
            <p for="TyC" class="small-txt" style="display: inline-block;">Mantener la sesión.</p> <!-- Quick Fix-->
          </div>
      	  <button class=" button large-txt ripple" type="submit"><p>siguiente</p></button>
        </form>
      </div>
    </article>
    <footer>
        <a href="#w" class="medium-txt"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a>
        <a href="#f" class="medium-txt"><i class="fa-brands fa-facebook-f"></i>acebook</a>
        <a href="#i" class="medium-txt"><i class="fa-brands fa-instagram"></i> Instagram</a>
        <a href="#t" class="medium-txt"><i class="fa-brands fa-telegram"></i> Telegram</a>
    </footer>
    {% endblock %}
